.App {
  text-align: center;
  margin-top: 1rem;
}


.selector{
  text-align: left;
  margin-left: 1rem;
  border-left: 1px solid white;
  border-top: 1px solid white;
  width: 20%;
}


#btnContainer button{
  margin: 5px;
  margin-left: 5px;
}
